In [1]:
import pandas as pd

In [2]:
df_ss = pd.read_json('dispenduk_e100ss.json')

In [3]:
df_bangga = pd.read_json('dispenduk_banggasurabaya.json')

In [4]:
df_sapa = pd.read_json('dispenduk_sapawargasby.json')

In [5]:
len(df_ss)

51

In [6]:
len(df_bangga)

3

In [7]:
len(df_sapa)

38

In [8]:
df_bangga

,fullname,id,likes,replies,retweets,text,timestamp,url,user
0,Aron Gardika,864405603560562688,0,1,0,"@BanggaSurabaya tya dunk Min, fisik EKTP sya r...",2017-05-16 09:02:10,/aron_gardika/status/864405603560562688,aron_gardika
1,#zainal,866515804832976896,2,1,1,Terima kasih pelayanan dispenduk kota surabaya...,2017-05-22 04:47:21,/znallOnlinez/status/866515804832976896,znallOnlinez
2,EVAN,937579844753244160,0,0,0,Cc @BanggaSurabaya @Tri_Rismaharini,2017-12-04 07:10:29,/evanromance/status/937579844753244160,evanromance

In [11]:
df_sapa = df_sapa[df_sapa['fullname'] !=  'Sapawarga Kota Sby']

In [12]:
len(df_sapa)

29

In [15]:
df_mention = pd.concat([df_ss, df_bangga, df_sapa])

In [17]:
df_mention.index = range(len(df_mention))

In [19]:
df_mention.to_csv('dispenduk.csv', index=False)